<section *ngIf="products.length > 0" class="py-5">
  <h2 class="py-4">Shop Wishlist</h2>

  <div class="row g-4 justify-content-center section">
    <div *ngFor="let item of products" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div>
        <div role="button" class="product">
          <i *ngIf="!wishlistData.includes(item._id)" (click)="addToList(item._id)" class="fa-regular fa-heart text-danger heart"></i>
          <i *ngIf="wishlistData.includes(item._id)" (click)="removeItem(item._id)" class="fa-solid fa-heart text-danger heart"></i>
          <div class="info" [routerLink]="['/details', item._id]">
            <img class="w-100" [src]="item.imageCover" [alt]="item.title" [title]="item.title">
            <h4 class="h6 text-main"> {{item.category.name}} </h4>
            <h3 class="h6"> {{item.title | cuttxt : 2}} </h3>
            <div class="d-flex justify-content-between align-content-center small">
              <span> {{item.price | currency : 'EGP'}} </span>
              <span>
                <i class="fas fa-star rating-color"></i>
                {{item.ratingsAverage}} </span>
            </div>
          </div>
          <button #addBtn (click)="addProduct(item._id, addBtn)" class="main-btn py-1 mt-2 w-100">+ Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>
