<section class="py-4">
  <div class="row g-0">
    <div class="col-md-9 dinamic-slider">
      <owl-carousel-o [options]="slideOptions">
        <ng-template carouselSlide>
          <img height="400" class="w-100" src="./assets/imgs/main-slider-1.jpeg" alt="">
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" class="w-100" src="./assets/imgs/main-slider-2.jpeg" alt="">
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" class="w-100" src="./assets/imgs/main-slider-3.jpeg" alt="">
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3 static-slider">
      <img height="200" class="w-100" src="./assets/imgs/slide-1.jpeg" alt="">
      <img height="200" class="w-100" src="./assets/imgs/slide-2.jpeg" alt="">
    </div>
  </div>
</section>

<section *ngIf="categories.length > 0" class="py-4">
  <h2 class="py-4">Popular Categories</h2>
  <owl-carousel-o [options]="categoryOptions">

    <ng-container *ngFor="let slide of categories">
      <ng-template carouselSlide >
        <img height="250" [src]="slide.image" [alt]="slide.name" [title]="slide.name">
        <h3 class="h6 text-main mt-3"> {{slide.name}} </h3>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>


<section *ngIf="products.length > 0" class="py-5">
  <h2 class="py-4">Popular Products</h2>

  <input type="text" placeholder="Search..." class="form-control w-75 mx-auto my-5" [(ngModel)]="term">
  <div class="row g-4 section">
    <div *ngFor="let item of products  | search : term | slice : 0 : 12" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div>
        <div role="button" class="product">
          <i *ngIf="!wishlistData.includes(item._id)" (click)="addToList(item._id)" class="fa-regular fa-heart text-danger heart"></i>
          <i *ngIf="wishlistData.includes(item._id)" (click)="removeItem(item._id)" class="fa-solid fa-heart text-danger heart"></i>
          <div class="info" [routerLink]="['/details', item._id]">
            <img class="w-100" [src]="item.imageCover" [alt]="item.title" [title]="item.title">
            <h4 class="h6 text-main"> {{item.category.name}} </h4>
            <h3 class="h6"> {{item.title | cuttxt : 2}} </h3>
            <div class="d-flex justify-content-between align-content-center small">
              <span> {{item.price | currency : 'EGP'}} </span>
              <span>
                <i class="fas fa-star rating-color"></i>
                {{item.ratingsAverage}} </span>
            </div>
          </div>
          <button #addBtn (click)="addProduct(item._id, addBtn)" class="main-btn py-1 mt-2 w-100">+ Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>
