<section class="rounded shadow p-4 w-75 my-4 mx-auto bg-light">
  <h1 class="my-4">Login Now</h1>
  <form [formGroup]="loginForm" (ngSubmit)="handleForm()">

    <div class="form-item my-3">
      <label for="email">Email</label>
      <input class="form-control" formControlName="email" id="email" type="email" >
      <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="text-danger fw-bold w-50 mx-auto text-center mt-3" >
        <p *ngIf="loginForm.get('email')?.getError('required')">*Email is Requierd</p>
        <p *ngIf="loginForm.get('email')?.getError('email')">*Email is Invalid</p>
      </div>
    </div>
    <div class="form-item my-3">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" id="password" type="password" >
      <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-danger fw-bold w-50 mx-auto text-center mt-3" >
        <p *ngIf="loginForm.get('password')?.getError('required')">*password is Requierd</p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')">*Must be at Least contain 6 Chars</p>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <button [disabled]="loginForm.invalid" class="main-btn my-3">Login <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span></button>
      <p *ngIf="errMsg" class="text-danger fw-bold w-50 mx-auto text-center mt-3"> {{errMsg}} </p>

      <a routerLink="/forgetPassword">Forget Password</a>
    </div>
  </form>
</section>
