$main-color: #0aad0a;

:host{
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-fluid{
  padding-top:80px
}
.btn-up{
  width:40px;
  height: 40px;
  color:#fff;
  background-color:$main-color ;
  border-radius: 50%;
  position:fixed;
  bottom: 20px;
  right: 20px;
  border:none;
  z-index: 999;
  transition:0.5s
}
