@media (max-width: 991.98px) {
  .cart,.wishlist{
    display:none
  }
  .num{
    bottom:20px;
    left:30px
  }
  .list li{
    margin-top: 30px !important;
  }
  .active-link{
    padding:5px 10px;
  }
}
@media (min-width: 992px) {
  .cart-sm, .wishlist-sm{
    display:none
  }
}
