<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/imgs/freshcart-logo.svg" alt="Logo">
    </a>


    <a class="nav-link position-relative cart-sm me-auto" routerLink="/cart">
      <i class="fas fa-cart-shopping text-main fa-2x ms-2"></i>
      <span class="badge bg-success-subtle position-absolute text-dark num"> {{numOfCart}} </span>
    </a>
    <a class="nav-link position-relative wishlist-sm me-5" routerLink="/wishlist">
      <i class="fa-solid fa-heart text-danger fa-2x ms-2"></i>
      <span class="badge bg-danger-subtle position-absolute text-dark num"> {{numOfWishlist}} </span>
    </a>



    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">


      <ul class="navbar-nav me-auto mt-2 mt-lg-0 align-items-center list">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/brands">Brands</a>
        </li>
        <li class="nav-item cart">
          <a class="nav-link position-relative" routerLink="/cart">
            <i class="fas fa-cart-shopping text-main fa-2x ms-2"></i>
            <span class="badge bg-success-subtle position-absolute top-0 end-0 text-dark num"> {{numOfCart}} </span>
          </a>
        </li>
      </ul>


      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center list">
        <li class="nav-item me-4 wishlist">
          <a class="nav-link position-relative" routerLink="/wishlist">
            <i class="fa-solid fa-heart text-danger fa-2x ms-2"></i>
            <span class="badge bg-danger-subtle position-absolute top-0 end-0 text-dark"> {{numOfWishlist}} </span>
          </a>
        </li>
        <li class="nav-item d-flex gap-3 me-3">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-tiktok"></i>
        </li>
        <li class="nav-item">
          <span (click)="signOut()" role="button">Sign Out</span>
        </li>

      </ul>
    </div>
  </div>
</nav>

