/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;

$rating-color: #ffc908;
$main-transition: 0.8s;

::-webkit-scrollbar{
  width:10px
}

::-webkit-scrollbar-track{
  background-color: $light-color;
}

::-webkit-scrollbar-thumb{
  background-color: $main-color;
  border-radius: 5px;
}




body{
  font-family: 'Encode Sans Expanded', sans-serif;
}

.rating-color {
  color: $rating-color;
}

.cursor-pointer {
  cursor: pointer;
}

.active-link{
  background-color: $main-color;
  color:#fff !important;
  border-radius: 5px;
}
.active-link:hover{
  color:#fff
}

.font-sm {
  font-size: 14px;
}

.text-main {
  color: $main-color;
}

.text-main-light {
  color: $light-color;
}

.bg-main {
  background-color: $main-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}

.main-btn {
  border: unset;
  cursor: pointer;
  color: #fff !important;
  background-color: $main-color !important;
  padding: 4px 8px;
  transition: background-color $main-transition;
  border-radius: 5px;
}

.main-btn:hover {
  background-color: #08e208;
}

.main-btn:disabled {
  background-color: #067a0663 !important;
  color: #ffffff8e !important;
  cursor: not-allowed;
}

.product {

  border:1px solid $main-color;
  border-radius: 5px;
  padding: 6px;
  transition:0.4s;

  &:hover {
    box-shadow: $shadow;
    // border: solid 1px var(--main-color);

    .add-btn {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .add-btn {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
  }
}

.toast-success{
  top:200px !important
  // position:fixed !important;
  // bottom:100px !important;
  // right:50% !important;
  // transform: translatex(50%) !important;
}

.product{
  overflow: hidden;
  position: relative;
  .main-btn{
    transform: translatey(150%);
    opacity:0;
    transition:0.5s
  }
  &:hover{
    .main-btn{
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.heart{
  position: absolute;
  top:10px;
  right:10px;
  font-size:20px
}
